.amenities h3 {
    color: #484848;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 28px;
    margin-top: 45px;
}


.amenities svg {
    height: 21px;
}

.containerAmenity {
    flex: 50%;
    display: flex;
    margin-bottom: 28px;
}

.containerAmenity p{
    margin-left: 10px;
}

.containerAmenities {
    display: flex;
    flex-wrap: wrap;

}