.sidebarContainer {
    background-color: #fafafa;
    border-radius: 6px;
    padding: 30px 22px 1px;
}

.phoneAction {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    color: #000;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.map img {
    width: 100%;
    height: auto;
}

.phoneSidebar {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 10px;
}

.phoneContainer {
    display: flex;
    padding-top: 10px;
}

.phoneContainer p {
    font-family: 'Roboto', sans-serif;
    color: #1f1f1f;
    margin-left: 6px;
    font-size: 14px;
}

.phoneContainer svg {
    height: 21px;
}

.descriptionStore {
    font-size: 12px;
    letter-spacing: .09px;
    color: #484848;
    line-height: 24px;
}

.titleDescriptionStore,
.titleHours {
    color: #383734;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

.containerDescriptionStore {
    margin-bottom: 30px;
}


.personalArea {
    display: block;
    margin-bottom: 30px;
}

.personalArea .titlePersonal {
    font-size: 14px;
    color: #383734;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}

.personalArea .personalContainer {
    display: flex;
    text-align: center;
    place-content: space-around;
}

.personalArea .personalContainer .personal img {
    border-radius: 50%;
    height: 45px;
    margin: 0 auto;
}

.personalArea .personalContainer .personal p{
    font-size: 12px;
    font-weight: 400;
}